.container{
    /* flex-shrink: 0; */
    z-index: 200;
    width: 100%;
    height: 100px;
    position: fixed; 
    top: 0; 
    left: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: white;
   
}

.left{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: stretch;
    justify-items: stretch;


}
#hh{
    width: 100px;
}


.middle{
    flex: 2;
    max-width: 2000px;
    display: flex;
    justify-content: center;
    
    
    
}

.middle div{
    white-space : nowrap;
    max-height: 30px;
    margin: 0 50px;
    font-style: italic;
    font-size: large;
}

.right{
    max-width: 200px;
}

.right ul{
    display: flex;
   
}

.right ul li{
    white-space : nowrap;
    margin: 0 10px;
}

li{
    list-style: none;
}





main{
    margin: 10px;
    padding-top: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#kk{
    max-width: 300px;
    max-height: 300px;
}

.middle div:hover{
    cursor: pointer;

}
.search{
    position: relative;
    max-width: 400px;
    flex: 2;
    display: flex;

}

.search-bar{
    
    opacity: 0.2;
    flex: 2;
    border-radius: 20px 20px;
    padding-left: 10px;
}

.search-icon{
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search-button:hover .tooltip{
    opacity: 1;
}

.tooltip{
    position: absolute;
    background: gray;
    color: white;
    padding: 4px 8px;
    left: -50px;
    bottom: -40px;
    border-radius: 2px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.2s;
    white-space: nowrap;
    pointer-events: none;
}

.search-button{
    position: relative;
    border: none;
    border-radius: 20px 20px;
}

.red-tube{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}

#kk:hover{
    transform: rotate(360deg);
    transition: transform 0.5s ;
}




